## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:

# set(random)
# sample_list_1
# Your code here

In [3]:
sample_list_1=[]
sample_list_1=random.sample(range(0,101),80)
print(sample_list_1)

#random.sample sorteia valores unicos

[44, 82, 98, 79, 24, 8, 31, 25, 92, 78, 86, 59, 9, 55, 94, 62, 41, 11, 6, 18, 84, 4, 89, 67, 52, 30, 60, 95, 53, 56, 80, 36, 69, 76, 39, 73, 71, 77, 50, 88, 3, 72, 1, 68, 81, 96, 85, 38, 17, 87, 42, 61, 47, 65, 100, 29, 64, 58, 15, 13, 97, 93, 83, 2, 20, 45, 40, 34, 37, 16, 74, 23, 26, 12, 21, 91, 66, 5, 46, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [31]:
sample_list_2=[]
for x in range (0,80):
    sample_list_2.append(random.randrange(101))
print(sample_list_2)

[93, 96, 0, 18, 52, 76, 33, 83, 96, 41, 20, 26, 89, 7, 42, 12, 56, 65, 92, 26, 82, 46, 69, 62, 90, 15, 87, 27, 88, 2, 73, 43, 4, 76, 56, 55, 71, 64, 11, 100, 80, 19, 3, 34, 30, 1, 76, 94, 95, 22, 29, 35, 39, 74, 82, 3, 80, 16, 1, 45, 8, 40, 98, 28, 58, 64, 21, 70, 0, 34, 44, 20, 36, 88, 35, 20, 35, 91, 4, 58]

In [32]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [33]:
set2=set(sample_list_2)
print(len(set2))

61

In [36]:
#numeros totais sorteados

sett=set(sample_list_1+sample_list_2)
print(len(sett))
print(sorted(sett))

90
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100]

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [62]:
set3= set1-set2
print(len(set3), set3)

29 {5, 6, 9, 13, 17, 23, 24, 25, 31, 37, 38, 47, 50, 53, 59, 60, 61, 66, 67, 68, 72, 77, 78, 79, 81, 84, 85, 86, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [40]:
set44=set2-set1
print(len(set44), set44)

10 {0, 33, 35, 70, 7, 19, 22, 90, 27, 28}

In [39]:
set4=[]
for a in set2:
    if a not in set1:
        set4.append(a)
print(len(set4),set4)

10 [0, 7, 19, 22, 27, 28, 33, 35, 70, 90]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [57]:
set55=[]
for b in set1:
    if b in set2:
        set55.append(b)
print(len(set55),set55)

51 [1, 2, 3, 4, 8, 11, 12, 15, 16, 18, 20, 21, 26, 29, 30, 34, 36, 39, 40, 41, 42, 43, 44, 45, 46, 52, 55, 56, 58, 62, 64, 65, 69, 71, 73, 74, 76, 80, 82, 83, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 100]

In [58]:
#Another way
set5=set1.intersection(set2)
print(len(set5),set5)

51 {1, 2, 3, 4, 8, 11, 12, 15, 16, 18, 20, 21, 26, 29, 30, 34, 36, 39, 40, 41, 42, 43, 44, 45, 46, 52, 55, 56, 58, 62, 64, 65, 69, 71, 73, 74, 76, 80, 82, 83, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [49]:
print("o qtd dos possiveis sorteios era",len(range(0,101)))
print("O primeiro sorteio teve",len(set1), "valores unicos")
print("O segundo sorteio teve",len(set2), "unicos dos 80 numeros selecionados")
print("No primeiro sorteio tiveram",len(set3),"valores  que nao foram sorteados no segundo sorteio" )
print("No segundo sorteio tiveram",len(set4),"valores  que nao foram sorteados no primeiro sorteio" )
print("foram sorteados nos dois sorteios",len(set5),"números iguais")
print("Nao foram sorteados", len(range(0,101))-len(set3)-len(set4)-len(set5), "numeros")

o qtd dos possiveis sorteios era 101
O primeiro sorteio teve 80 valores unicos
O segundo sorteio teve 61 unicos dos 80 numeros selecionados
No primeiro sorteio tiveram 29 valores  que nao foram sorteados no segundo sorteio
No segundo sorteio tiveram 10 valores  que nao foram sorteados no primeiro sorteio
foram sorteados nos dois sorteios 51 números iguais
Nao foram sorteados 11 numeros

#### Create an empty set called `set6`.

In [64]:
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
set5=set(set5)
set6.update(set5)
set6.update(set3)
# A operacao update set retorna none mas o set6 do exemplo é atualizado
print(len(set6),set6, type(set6))
print(len(set3), set3)

80 {1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 23, 24, 25, 26, 29, 30, 31, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100} <class 'set'>
29 {5, 6, 9, 13, 17, 23, 24, 25, 31, 37, 38, 47, 50, 53, 59, 60, 61, 66, 67, 68, 72, 77, 78, 79, 81, 84, 85, 86, 97}

#### Check if `set1` and `set6` are equal.

In [67]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [69]:
set1.issubset(set2)

False

In [71]:
set2.issubset(set1)

False

In [72]:
#set3 nao esta dentro do subset 1
set1.issubset(set3)

False

In [73]:
#set 1 esta dentro do sub set3
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [77]:
setu=set3.union(set4).union(set5)
print(len(setu),setu)

setz=set1.union(set2)
print(len(setz),setz)

90 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
90 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

In [78]:
setu==setz

True

#### Using the `pop` method, remove the first element from `set1`.

In [79]:
print(len(set1),set1)
pop=set1.pop()
print(pop)
print(len(set1),set1)
#Remove o primeiro elemento

80 {1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 23, 24, 25, 26, 29, 30, 31, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}
1
79 {2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 23, 24, 25, 26, 29, 30, 31, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [81]:
print(len(set1),set1)

79 {2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 23, 24, 25, 26, 29, 30, 31, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}

In [90]:
set1=set([2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 23, 24, 25, 26, 29, 30, 31, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100])

In [91]:
type(set1)

set

In [92]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(len(list_to_remove))
print(len(set1),set1)

for item in list_to_remove:
    if item in set1:
        set1.remove(item)
print(len(set1),set1)

20
79 {2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 21, 23, 24, 25, 26, 29, 30, 31, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 100}
64 {2, 3, 4, 5, 6, 8, 12, 13, 15, 16, 17, 18, 20, 23, 24, 25, 26, 30, 34, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 55, 56, 58, 60, 62, 64, 65, 66, 67, 68, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}