# Python Recap

## Numbers in Python

According to the [Python 3.8.0 Documentation](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex),

> There are three distinct numeric types: integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of integers. […] The standard library includes the additional numeric types `fractions.Fraction`, for rationals, and `decimal.Decimal`, for floating-point numbers with user-definable precision).

Integers, floats, and complex numbers can be created by writing a numeric literal or as a result of an arithmetic operation or function. The Fraction and the Decimal data types need to be imported before being used.

In [1]:
# This is an integer
type(5)

int

In [2]:
# This is a floating point number
type(5.0)

float

In [3]:
# This is a complex number
type(5j)

complex

In [4]:
# Importing the Fraction data type from the fractions module
from fractions import Fraction

#Creating a Fraction object
Fraction(5, 3)

Fraction(5, 3)

In [5]:
# Importing the Decimal data type from the decimal module
from decimal import Decimal

#Creating a Decimal object
Decimal(5)

Decimal('5')

The documentation also says that

> Python fully supports mixed arithmetic: when a binary arithmetic operator has operands of different numeric types, the operand with the “narrower” type is widened to that of the other, where integer is narrower than floating point, which is narrower than complex. Comparisons between numbers of mixed type use the same rule.

Hence, if you try to perform any operation between an integer and a float, the result will be a float. If you perform an operation between an integer and a complex number, the result will be a complex number.

In [6]:
type(5 + 5)

int

In [7]:
type(5 + 5.0)

float

In [8]:
type(5 + 5j)

complex

All numeric types (except complex) support the following operators:

In [9]:
# Addition
5 + 5

10

In [10]:
# Subtraction
5 - 5

0

In [11]:
# Multiplication
5 * 5

25

In [12]:
# Division
5 / 5

1.0

In [13]:
# Floor Division
5.5 // 5

1.0

In [14]:
# Modulo (Remainder)
5 % 5

0

In [15]:
# Potentiation
5 ** 5

3125

In [16]:
# Absolute value
abs(-5)

5

In [17]:
abs(-5.5)

5.5

In [18]:
# Floor Division feat. Modulo in the same function!
# The first value is the floored quotient and the second is the remainder.

divmod(5, 2)

(2, 1)

We can also use the `round()` function on floats to limit the precision of digits.

In [19]:
1/3

0.3333333333333333

In [20]:
round(1/3, 2)

0.33

In [21]:
round(1/3, 3)

0.333

### Booleans

Booleans are a subtype of integers. Therefore, we can perform arithmetic operations on them. Below, there's a table explaning the relation between the boolean type and the integer value.

bool | value
--- | ---
True | 1
False | 0

In [22]:
True + True
# 1 + 1

2

In [23]:
True / True
# 1 / 1

1.0

In [24]:
False * True
# 0 * 1

0

### Booleans Operators

Below, there's a table with the boolean operators and some remarks about their implementation.

operation | remarks
--- | ---
`x or y` | it only evaluates the second argument if the first is False
`x and y` | it only evaluates the second argument if the first is True
`not x` | lower priority than non-Boolean operators, so `not a == b` is interpreted as `not(a == b)`

In [25]:
False or True

True

In [26]:
True or True

True

In [27]:
True and False

False

In [28]:
True and True

True

In [29]:
not True and True

False

## Lists

Lists are mutable sequences that can hold different types of objects. They are delimited by a pair of square brackets and their elements are separated by commas.

`example_list = [item1, item2, ..., item_n]`

Below, we are going to see some common operations supported by sequences, hence, supported by lists.

In [30]:
# Let's define a list of names
data_students = ["Robson", "João", "Carlos", "Ian H.", "Ian E.", "Caroline",
                 "Nilson", "Jefferson", "Lucas", "Emerson", "Matheus", "Evelyn", "Fabiano"]

In [31]:
# Checking if "Evelyn" is an element of the data_students list
"Evelyn" in data_students

True

In [32]:
# Checking if "Ian H." is an element of the data_students list
"Ian H." in data_students

True

In [33]:
# Checking if "Ian" is an element of the data_students list
"Ian" in data_students

False

In [34]:
# Checking if "Caroline" isn't an element of the data_students list
"Caroline" not in data_students

False

In [35]:
# Checking the size of the list (number of elements)
len(data_students)

13

In [36]:
# Getting the smallest item of the list
min(data_students)

'Carlos'

In [37]:
# Getting the largest item of the list
max(data_students)

'Robson'

In [38]:
# Selecting an element based on its index
data_students[2]

'Carlos'

In [39]:
# Selecting an element based on its index
data_students[5]

'Caroline'

In [40]:
# Slicing the list based on its index
data_students[2:5]

['Carlos', 'Ian H.', 'Ian E.']

Not only lists can hold several data types, but they can hold other lists too! This is called **nested list**. Let's discuss a little bit about them.

In [41]:
ironhack = [["Tiago", "General Manager"],
            ["Manu", "Program Manager"],
            ["Nathy", "Admissions Manager"],
            ["Rogério", "Data Analytics Lead Teacher"],
            ["Raiana", "Teaching Assistant"],
            ["Lucas", "Teaching Assistant"]]

In [42]:
ironhack[0]

['Tiago', 'General Manager']

In [43]:
ironhack[0][1]

'General Manager'

In [44]:
ironhack[0:3]

[['Tiago', 'General Manager'],
 ['Manu', 'Program Manager'],
 ['Nathy', 'Admissions Manager']]

In [45]:
ironhack[0:3][1]

['Manu', 'Program Manager']

In [46]:
ironhack[0:3][1][0]

'Manu'

Let's dive a little bit deeper. Sometimes, we need to retrieve a random element of a list. To do that, we can use the `choice()` function from the `random` module.

In [47]:
# Importing the choice function from the random module
from random import choice

# Selecting a random student from the data_students list
choice(data_students)

'Ian H.'

In [48]:
choice(data_students)

'Lucas'

We can also add elements to an existing list, whether it's an empty list or not. To do that, we use the `.append()` method.

In [49]:
# Let's create an empty list called "ages"
ages = []

# Printing the list
print(ages)

[]

In [50]:
# Let's append my age
ages.append(25)

print(ages)

[25]

In [51]:
# Let's append Raiana's age
ages.append(27)

print(ages)

[25, 27]

One last method that it's important to point out is the `.count()`. It allows us to count how many times a given element appears in the sequence.

In [52]:
# Creating the list
not_unique = [0, 0, 0, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 5, 6, 7, 7]

In [53]:
# Counting how many times the element "0" appears in the list
not_unique.count(0)

3

In [54]:
# Counting how many times the element "3" appears in the list
not_unique.count(3)

7

## Looping Through Chunks of Code

### For Loop

We use it to iterate through an entire iterable. An iterable is a sequence that can be iterated (duh!). Let's see it in action.

In [55]:
generic_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in generic_list:
    print(number * 2)

0
2
4
6
8
10
12
14
16
18
20

We can use the `.append()` method discussed in the Lists section to append the transformed elements to a new list.

In [56]:
new_list = []

for element in generic_list:
    new_list.append(element * 2)
    
new_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

We can use the lists' indexes if we want to perform any operation between their elements in a pairwise way based on their positions. To use retrieve the indexes we use the `len()` and the `range()` functions.

In [57]:
newest_list = []

for index in range(len(generic_list)):
    newest_list.append(generic_list[index] + new_list[index])
    
newest_list

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

If we nest a for loop inside another for loop, we'll end up having a cartesian product of the iterables.

In [58]:
suits = ["diamonds", "clubs", "hearts", "spades"]
ranks = ["A", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"]

deck = []

for suit in suits:
    for rank in ranks:
        deck.append([suit, rank])
        
print(deck)

[['diamonds', 'A'], ['diamonds', '2'], ['diamonds', '3'], ['diamonds', '4'], ['diamonds', '5'], ['diamonds', '6'], ['diamonds', '7'], ['diamonds', '8'], ['diamonds', '9'], ['diamonds', '10'], ['diamonds', 'J'], ['diamonds', 'Q'], ['diamonds', 'K'], ['clubs', 'A'], ['clubs', '2'], ['clubs', '3'], ['clubs', '4'], ['clubs', '5'], ['clubs', '6'], ['clubs', '7'], ['clubs', '8'], ['clubs', '9'], ['clubs', '10'], ['clubs', 'J'], ['clubs', 'Q'], ['clubs', 'K'], ['hearts', 'A'], ['hearts', '2'], ['hearts', '3'], ['hearts', '4'], ['hearts', '5'], ['hearts', '6'], ['hearts', '7'], ['hearts', '8'], ['hearts', '9'], ['hearts', '10'], ['hearts', 'J'], ['hearts', 'Q'], ['hearts', 'K'], ['spades', 'A'], ['spades', '2'], ['spades', '3'], ['spades', '4'], ['spades', '5'], ['spades', '6'], ['spades', '7'], ['spades', '8'], ['spades', '9'], ['spades', '10'], ['spades', 'J'], ['spades', 'Q'], ['spades', 'K']]

### While Loop

While loops iterate while some condition is true. When will the condition be false? We usually don't know. That why we call them "indefinite loops". Take care, it's pretty easy to mess up and code an infinite while loop.

In [59]:
# A simple example of a while loop
i = 5

while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [60]:
# There are differences if we decrement out variable before printing it
# But the number of iterations is still the same
i = 5

while i > 0:
    i -= 1
    print(i)

4
3
2
1
0

The while loop in Python allows us to use an else statment. The else statement runs after the loop is executed completely.

In [61]:
i = 5

while i > 0:
    i -= 1
    print(i)
else:
    print("The loop has finished!")

4
3
2
1
0
The loop has finished!

**Important:** We use the for loop when we have an iterable object that we want to perform an operation or a check element-wise. We use the while loop if we want the loop to keep going while a condition isn't met.

In [62]:
# Checking the user input with an while loop
answer = ""

while answer not in ("y","n"):
    answer = input("Are you enjoying the class? [y/n] ")
else:
    print("You have answered:", answer)

Are you enjoying the class? [y/n] rogerio
Are you enjoying the class? [y/n] raiana
Are you enjoying the class? [y/n] lucas
Are you enjoying the class? [y/n] y
You have answered: y

## Conditional Statements

A conditional statement test one or more conditions. Conditional statements handle logical statements that can only be True or False; therefore, they don't handle expressions with ambiguous values.

In [63]:
# Writing a simple logical statement
5 > 3

True

In [64]:
# Writing another logical statement
5 >= 10

False

In [65]:
# Writing an simple if statement

if 5 > 3:
    print("That's true!")

That's true!

Let's try to see it in practice! I want to retrieve the integers that are divisible by 6 but aren't multiple of 5, between 2000 and 2100 (both sides included). I'm going to save those integers in a list called `if_exercise`.

In [66]:
if_exercise = []

for number in range(2000, 2101):
    if number % 6 == 0 and number % 5 != 0:
        if_exercise.append(number)
        
print(if_exercise)

[2004, 2016, 2022, 2028, 2034, 2046, 2052, 2058, 2064, 2076, 2082, 2088, 2094]

Now, not only I want to create the `if_exercise` list, but I also want to save the numbers that are divisible by 6 and are multiple of 5 in a list called `elif_exercise`.

In [67]:
if_exercise = []
elif_exercise = []

for number in range(2000, 2101):
    if number % 6 == 0 and number % 5 != 0:
        if_exercise.append(number)
    elif number % 6 == 0 and number % 5 == 0:
        elif_exercise.append(number)
        
print(if_exercise)
print(elif_exercise)

[2004, 2016, 2022, 2028, 2034, 2046, 2052, 2058, 2064, 2076, 2082, 2088, 2094]
[2010, 2040, 2070, 2100]

To finish, I want to save all the numbers that aren't divisible by 6 in a list called `else_exercise`.

In [68]:
if_exercise = []
elif_exercise = []
else_exercise = []

for number in range(2000, 2101):
    if number % 6 == 0 and number % 5 != 0:
        if_exercise.append(number)
    elif number % 6 == 0 and number % 5 == 0:
        elif_exercise.append(number)
    else:
        else_exercise.append(number)
        
print(if_exercise)
print(elif_exercise)
print(else_exercise)

[2004, 2016, 2022, 2028, 2034, 2046, 2052, 2058, 2064, 2076, 2082, 2088, 2094]
[2010, 2040, 2070, 2100]
[2000, 2001, 2002, 2003, 2005, 2006, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015, 2017, 2018, 2019, 2020, 2021, 2023, 2024, 2025, 2026, 2027, 2029, 2030, 2031, 2032, 2033, 2035, 2036, 2037, 2038, 2039, 2041, 2042, 2043, 2044, 2045, 2047, 2048, 2049, 2050, 2051, 2053, 2054, 2055, 2056, 2057, 2059, 2060, 2061, 2062, 2063, 2065, 2066, 2067, 2068, 2069, 2071, 2072, 2073, 2074, 2075, 2077, 2078, 2079, 2080, 2081, 2083, 2084, 2085, 2086, 2087, 2089, 2090, 2091, 2092, 2093, 2095, 2096, 2097, 2098, 2099]

In [69]:
# Checking if we have retrieved all the numbers
len(range(2000, 2101)) == (len(if_exercise) + len(elif_exercise) + len(else_exercise))

True

***

## Solved Exercises

**Q1.** Use the `data_students` list given on the Lists section of this notebook. Write a program that checks if "Ian" is an element of the list.

In [70]:
for student in data_students:
    if "Ian" in student:
        print("I've found an Ian:", student)

I've found an Ian: Ian H.
I've found an Ian: Ian E.

**Q2.** Retrieve only the names of the staff members from the `ironhack` list. The names must be saved on a list called `iron_staff`.

In [71]:
iron_staff = []

for element in ironhack:
    iron_staff.append(element[0])
    
print(iron_staff)

['Tiago', 'Manu', 'Nathy', 'Rogério', 'Raiana', 'Lucas']