<h1>Tuples</h1>

In [1]:
#Defining a tuple
tup_a = (1,2,3,4,5)

tup_a

(1, 2, 3, 4, 5)

In [2]:
type(tup_a)

tuple

In [3]:
#Defining a tuple with a blank element
tup_a = (1,)

tup_a

(1,)

In [4]:
type(tup_a)

tuple

In [5]:
#Defining a tuple without opening and closing parenthesis
tup_a = 1,2,3,4,5

tup_a

(1, 2, 3, 4, 5)

In [6]:
type(tup_a)

tuple

In [7]:
#Defining a tuple with diferent data types inside it
tup_b = (2019, "Data Analytics", ['Lucas','Raiana','Rogério'])

tup_b

(2019, 'Data Analytics', ['Lucas', 'Raiana', 'Rogério'])

In [8]:
type(tup_b)

tuple

In [9]:
#Let's slice this tuple
tup_b[0]

2019

In [10]:
tup_b[1]

'Data Analytics'

In [11]:
tup_b[2]

['Lucas', 'Raiana', 'Rogério']

In [12]:
tup_b[2][1][0]

'R'

In [13]:
#Let's try to change the elements of the tuple
tup_b[0] = 2020

TypeError: 'tuple' object does not support item assignment

<p><strong>IMPORTANT:</strong> Tuples are immutable. But if they hold a mutable object, we can change this object.

In [14]:
#Let's try to add a new element to the list inside the tup_b
tup_b[2]

['Lucas', 'Raiana', 'Rogério']

In [15]:
tup_b[2].append('Manuella')

In [16]:
tup_b

(2019, 'Data Analytics', ['Lucas', 'Raiana', 'Rogério', 'Manuella'])

In [17]:
tup_b[1] = tup_b[1].lower()

TypeError: 'tuple' object does not support item assignment

In [18]:
tup_b[0] + 1

2020

The tuple has changed!

In [19]:
#Let's calc the number of elements inside the tuple
len(tup_b)

3

In [20]:
#Let's iterate a tuple
for element in tup_b:
    print(element)

2019
Data Analytics
['Lucas', 'Raiana', 'Rogério', 'Manuella']

In [22]:
#Tuple unpacking
a, b, c = tup_b

In [23]:
a

2019

In [24]:
b

'Data Analytics'

In [25]:
c

['Lucas', 'Raiana', 'Rogério', 'Manuella']

In [26]:
#Tuple unpacking with a placeholder

a, *_ = tup_b

In [27]:
a

2019

In [28]:
_[0]

'Data Analytics'

In [29]:
#Tuple unpacking with a placeholder (example 2)
tup_c = (1,2,3,4,5,6,7,8,9,10)

a, *_, b, c, d = tup_c

In [30]:
a

1

In [31]:
b

8

In [32]:
_

[2, 3, 4, 5, 6, 7]

<h1>Dicts</h1>

In [33]:
#Let's create a dictionary

data_analytics = {"Caio":[24,"Bacharel em Cinema e Audiovisual","Roteirista @ Sbrubles"],
                  "Mari Zef":[24,"Bacharel em Economia","Pesquisadora @ UFPE"], 
                  "Lucas Car":[25,"Bacharel em Física","Programador @ Sbrubles"]}

In [34]:
data_analytics

{'Caio': [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'],
 'Mari Zef': [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'],
 'Lucas Car': [25, 'Bacharel em Física', 'Programador @ Sbrubles']}

In [35]:
data_analytics['Caio'][0]

24

In [36]:
#Retrieving the keys of a dictionary

data_analytics.keys()

dict_keys(['Caio', 'Mari Zef', 'Lucas Car'])

In [37]:
#Retrieving the values of a dictionary

data_analytics.values()

dict_values([[24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'], [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'], [25, 'Bacharel em Física', 'Programador @ Sbrubles']])

In [38]:
#Retrieving the items (pairs) of a dictionary

data_analytics.items()

dict_items([('Caio', [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles']), ('Mari Zef', [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE']), ('Lucas Car', [25, 'Bacharel em Física', 'Programador @ Sbrubles'])])

In [39]:
#Adding a new element to the dictionary

data_analytics["Rogério"] = [24, "Bacharel em Ciências e Humanidades", "Geographic Data Analyst @ TomTom"]

In [40]:
#Checking if the element has been added

data_analytics

{'Caio': [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'],
 'Mari Zef': [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'],
 'Lucas Car': [25, 'Bacharel em Física', 'Programador @ Sbrubles'],
 'Rogério': [24,
  'Bacharel em Ciências e Humanidades',
  'Geographic Data Analyst @ TomTom']}

In [41]:
#Deleting the element

del data_analytics["Rogério"]

In [42]:
data_analytics

{'Caio': [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'],
 'Mari Zef': [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'],
 'Lucas Car': [25, 'Bacharel em Física', 'Programador @ Sbrubles']}

In [44]:
#Creating a new dictionary

ih_courses = {"Data Analytics": ["Raiana", "Rogério", "Lucas"],
              "UX/UI": ["Mayra", "Isabella", "Constance"],
              "Web Development": ["José", "Heitor", "Mônica"]}

In [45]:
#Let's iterate the dictionary

for key in ih_courses.keys():
    print(key)

Data Analytics
UX/UI
Web Development

In [46]:
for values in ih_courses.values():
    print(values)

['Raiana', 'Rogério', 'Lucas']
['Mayra', 'Isabella', 'Constance']
['José', 'Heitor', 'Mônica']

In [47]:
for key, values in ih_courses.items():
    print("The team of the {} Full Time Bootcamp is: {}".format(key, values))

The team of the Data Analytics Full Time Bootcamp is: ['Raiana', 'Rogério', 'Lucas']
The team of the UX/UI Full Time Bootcamp is: ['Mayra', 'Isabella', 'Constance']
The team of the Web Development Full Time Bootcamp is: ['José', 'Heitor', 'Mônica']

<h1>Sets</h1>

In [49]:
lst = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,5,5]

lst

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 5]

In [50]:
#Creating a set from a list
new_set = set(lst)

new_set

{1, 2, 3, 4, 5}

In [51]:
#Creating an empty set

set_a = set()

In [52]:
set_a

set()

In [53]:
#Adding elements to the set
set_a.add(4)

In [54]:
set_a

{4}

In [55]:
#Adding another element to the set
set_a.add(5)

set_a

{4, 5}

In [56]:
#Adding a duplicate element to the set
set_a.add(5)

set_a

{4, 5}

In [57]:
#Removing a element from a set
set_a.remove(4)

set_a

{5}

In [58]:
#Removing a random element from a set
set_a.pop()

5

In [59]:
set_a

set()

<h2>Let's go to the fun part!</h2>

In [60]:
set_a = {1,2,3,4,5,6}

set_b = {4,5,6,7,8,9}

In [61]:
set_a.intersection(set_b)

{4, 5, 6}

In [62]:
set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
set_a - set_b

{1, 2, 3}

In [64]:
set_b - set_a

{7, 8, 9}