# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.


Create a function that returns the count of a list of numbers

In [3]:
lista=[1,2,3,4,5]
print(type(lista))

<class 'list'>

In [12]:
def conta(lst):
    a=len(lst)
    c=sum(lst)
    return a,c

In [13]:
conta(lista)

(5, 15)

In [22]:
def conta2(lst):
    a=0
    for x in lst:
        a=a+1
    return print("A lista é {} e tem {} elementos".format(lst,a))

In [23]:
conta2(lista)

A lista é [1, 2, 3, 4, 5] e tem 5 elementos

Create a function that returns the mean of a list of numbers

In [25]:
def media(lst):
    a=sum(lst)/len(lst)
    return a

In [26]:
media(lista)

3.0

Create a function that returns the standard deviation of a list of numbers

In [27]:
def desvio(lst):
    import statistics
    x=statistics.stdev(lst)
    return x

In [28]:
desvio(lista)

1.5811388300841898

Create a function that returns the count, mean and standard deviation of a given list in dataframe format.

In [76]:
import pandas as pd

def calc (lis):
    a= conta(lis)
    b= media(lis)
    c=desvio(lis)
    data=[a,b,c]
    return pd.DataFrame([data], columns= ['Conta, Soma','Media','Desvio'])

In [77]:
calc(lista)

  Conta, Soma  Media    Desvio
0     (5, 15)    3.0  1.581139

# Challenge 2 - String Cleaning
When working with textual data you will often have to clean it before being able to analyse it. Create a function that receives a string and returns that string in all lower case and without special characters.

In [122]:
#faltou remover o caractere especial
teste="Um EXemPlo de Teste"

def minuscula(string):
    w= string.lower()
    return w

In [123]:
minuscula(teste)

'um exemplo de teste'

# Challenge 2 -Bonus
Create a function that receives a string and returns the string in alphabetical order.

In [39]:
string='Evelyn'

In [46]:
def ordstring(s):   
    letra=[s[x] for x in range(len(s))]
    letra.sort()#ordenar a lista na variavel e retornar a variavel como uma string
    return letra

In [47]:
ordstring(string)

['E', 'e', 'l', 'n', 'v', 'y']

# Challenge 3 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [52]:
import pandas as pd
import numpy as np

In [50]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [51]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [62]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [58]:
def means_numpy(dataset):
    if numpy[0]=

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
iris_type       Iris-setosa
Name: 0, dtype: object

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [17]:
# Your code here:

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [19]:
# Your code here:

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [21]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [22]:
# Your code here:

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [23]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here: