# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.


Create a function that returns the count of a list of numbers

In [3]:
lista=[0,1,2,3,4,5]

In [2]:
#For this function we will need a counter variable and a for that iterates
#trough every element in the given list
def count_rutz(listofnumbers):
    counter=0
    for number in listofnumbers:
        counter+=1
    return counter

In [4]:
count_rutz(lista)

6

Create a function that returns the mean of a list of numbers

In [5]:
#For this function we will need a counter variable and a for that iterates
#trough every element in the given list as well as our previous function 
def mean_rutz(listofnumbers):
    lenoflist = count_rutz(listofnumbers)
    sumoflist = 0
    for number in listofnumbers:
        sumoflist += number
    meanoflist=sumoflist/lenoflist
    return meanoflist

In [6]:
mean_rutz(lista)

2.5

Create a function that returns the standard deviation of a list of numbers

In [7]:
#For this function we will need a counter variable and a for that iterates
#trough every element in the given list as well as our previous functions 
def std_rutz(listofnumbers):
    meanoflist= mean_rutz(listofnumbers)
    lenoflist = count_rutz(listofnumbers)
    var=0
    for number in listofnumbers:
        var+= (number - meanoflist)**2
        std = (var/(lenoflist-1))**(0.5)
    return(std)

In [8]:
std_rutz(lista)

1.8708286933869707

Create a function that returns the count, mean and standard deviation of a given list in dataframe format.

In [9]:
#For this function we will call our previous functions, create a list with our variables 
#and put then in a pd dataframe, we must make sure that our data is read as one row in the 
#dataframe instead of 3 rows, for that we put our list inside another list
def describe_rutz(listofnumbers):
    meanoflist= mean_rutz(listofnumbers)
    lenoflist = count_rutz(listofnumbers)
    stdoflist = std_rutz(listofnumbers)
    data = [lenoflist,meanoflist,stdoflist]
    return pd.DataFrame([data],columns=["Count","Mean","Standard Deviation"])

In [10]:
describe_rutz(lista)

   Count  Mean  Standard Deviation
0      6   2.5            1.870829

In [12]:
lala = [2,5,7,3,6,5,4,3,2]
describe_rutz(lala)

   Count      Mean  Standard Deviation
0      9  4.111111            1.763834

# Challenge 2 - String Cleaning
When working with textual data you will often have to clean it before being able to analyse it. Create a function that receives a string and returns that string in all lower case and without special characters.

In [13]:
#In this function we use the string methods .lower and .replace
#they can all be used in the same line of code
def cleaningstrings(stringexample):
    returnstring = stringexample.lower().replace("!","").replace(",","").replace(".","").replace("?","")
    return returnstring

In [16]:
cleaningstrings('Evelyn')

'evelyn'

# Challenge 2 -Bonus
Create a function that receives a string and returns the string in alphabetical order.

In [48]:
#Here we will have to split our string into a list, sort the list 
#and transform the list into a string 
def alphabeticstring(stringexample):
    stringinlist = stringexample.split(" ")
    print(stringinlist)
    stringinlist.sort()#can also use newlist = sorted(stringinlist)
    returnstring = " "
    for string in stringinlist:
        returnstring+= string+" "
    return returnstring

# Challenge 3 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [18]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [19]:
# checking the type of iris
# after importing data using pd.read_csv, it returs a pandas object
type(iris)

pandas.core.frame.DataFrame

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [20]:
# despite we can't use the method head in a pandas dataframe, 
# we still able to call the function np.mean passing iris as an argument
np.mean(iris)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [21]:
# Your code here:
np.std(iris)

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

In [22]:
# np.mean is usefull, but we can also use describe in get more metrics such as the mean, 
# standard deviation, median, and quartiles in a simple code line
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [29]:
# import the iris object using the read_csv function from pandas
numeric_columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width']
iris_numeric = ,,  names=numeric_columns)
    # the first argument receives the data to be imported  
    # the second argument receives the columns' list -- this time only the numeric columns

NameError: name 'file_path' is not defined

In [ ]:
# second method: drop the categorical column 'iris_type' from pre-imported data 'iris'
iris_numeric = iris.drop(
    # select the column to be dropped
    'iris_type',
    # specify the column' axis = 1 -- default is the row axis = 0
    axis=1
)

In [ ]:
# third method: slice the data with brackets
iris_numeric = iris[numeric_columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [21]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return(x *0.393700787)

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [ ]:
# first method: iterate through each column using for loop
# note that each column from a pandas data frame is an array, and so we can use the for loop to transform each element

iris_inch_sepal_length = []
for i in iris.sepal_length:
    iris_inch_sepal_length.append(cm_to_in(i))

In [ ]:
# we can also use for loop in a comprehension list method
iris_inch_sepal_width = [cm_to_in(i) for i in iris.sepal_width]

iris_inch_petal_length = [cm_to_in(i) for i in iris.petal_length]

iris_inch_petal_width = [cm_to_in(i) for i in iris.petal_width]

In [22]:
#then we should create a list of lists with the converted results
iris_lists = [iris_inch_sepal_length, 
               iris_inch_sepal_width, 
               iris_inch_petal_length,
               iris_inch_petal_width]

# after that transform the list of lists into a data frame again
df_iris = pd.DataFrame(iris_lists)
df_iris.head()

##### As we can see, the imported data has a differente shape compared to the original dataset

* In order to follow to correct the problem, we have to transpose the values, as we can do at Excel
* To invert the data we use the method T

In [ ]:
# transpose the data 
df_iris = df_iris.T

In [ ]:
# showing the data transposed
df_iris.head()

In [ ]:
# and finally rename the columns
df_iris.columns = numeric_columns

In [ ]:
df_iris.head()

#### The following method is quite simple and more and a good practice to iterate through each pandas dataframe row

In [ ]:
# method 2: use the apply function
iris_inch = iris_numeric.apply(cm_to_in)

In [ ]:
iris_inch.head()

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [6]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return (x+2)

In [ ]:
# now that you know that 'apply' function is able to iterate through each dataframe columns,
# would you prefere to use the first or the second method from previous exercise?

In [ ]:
iris_constant = iris_numeric.apply(add_constant)

In [ ]:
iris_constant.head()

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
iris_numeric.apply(max)

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here:

total_lenght = iris_numeric.apply(len)
total_lenght

In [ ]:
total_width = iris_numeric.apply(len, axis=1)
total_width