# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
import numpy as np

#### 2. Print your NumPy version.

In [2]:
np.__version__

'1.17.2'

#### 3. Generate a 3x2x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [17]:
a = np.random.random((3,2,5))

In [ ]:
# Method 2
# It's a challenge I'm not going to give you the answer

In [ ]:
# Method 3
# It's a challenge I'm not going to give you the answer

#### 4. Print *a*.

In [19]:
a

array([[[0.80864613, 0.44303133, 0.69531251, 0.02700497, 0.26057807],
        [0.44043333, 0.94712763, 0.11073652, 0.97661998, 0.51642278]],

       [[0.59920346, 0.22946277, 0.13029203, 0.37864898, 0.99722405],
        [0.09140786, 0.63251218, 0.71202207, 0.9711537 , 0.6987354 ]],

       [[0.08037436, 0.44737846, 0.91617008, 0.92119659, 0.8487824 ],
        [0.70050795, 0.18709685, 0.37741689, 0.85502233, 0.62763509]]])

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [6]:
b = np.ones((5,2,3))

#### 6. Print *b*.

In [7]:
b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [12]:
a.size == b.size

True

#### 8. Are you able to add *a* and *b*? Why or why not?

In [13]:
a + b

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

In [ ]:
# Write your explanation here

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transpose array to variable *c*.

In [20]:
c = b.transpose()

c.shape

(3, 2, 5)

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [24]:
d = a + c

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [22]:
a

array([[[0.80864613, 0.44303133, 0.69531251, 0.02700497, 0.26057807],
        [0.44043333, 0.94712763, 0.11073652, 0.97661998, 0.51642278]],

       [[0.59920346, 0.22946277, 0.13029203, 0.37864898, 0.99722405],
        [0.09140786, 0.63251218, 0.71202207, 0.9711537 , 0.6987354 ]],

       [[0.08037436, 0.44737846, 0.91617008, 0.92119659, 0.8487824 ],
        [0.70050795, 0.18709685, 0.37741689, 0.85502233, 0.62763509]]])

In [25]:
d

array([[[1.80864613, 1.44303133, 1.69531251, 1.02700497, 1.26057807],
        [1.44043333, 1.94712763, 1.11073652, 1.97661998, 1.51642278]],

       [[1.59920346, 1.22946277, 1.13029203, 1.37864898, 1.99722405],
        [1.09140786, 1.63251218, 1.71202207, 1.9711537 , 1.6987354 ]],

       [[1.08037436, 1.44737846, 1.91617008, 1.92119659, 1.8487824 ],
        [1.70050795, 1.18709685, 1.37741689, 1.85502233, 1.62763509]]])

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [26]:
e = a * c

In [27]:
e

array([[[0.80864613, 0.44303133, 0.69531251, 0.02700497, 0.26057807],
        [0.44043333, 0.94712763, 0.11073652, 0.97661998, 0.51642278]],

       [[0.59920346, 0.22946277, 0.13029203, 0.37864898, 0.99722405],
        [0.09140786, 0.63251218, 0.71202207, 0.9711537 , 0.6987354 ]],

       [[0.08037436, 0.44737846, 0.91617008, 0.92119659, 0.8487824 ],
        [0.70050795, 0.18709685, 0.37741689, 0.85502233, 0.62763509]]])

#### 13. Does *e* equal to *a*? Why or why not?

In [28]:
a == e

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [30]:
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 3x2x5) as *d* using `np.empty`.

In [37]:
f = np.empty(d.shape)

f.shape

(3, 2, 5)

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [39]:
for i in range(d.shape[0]):
    for j in range(d.shape[1]):
        for k in range(d.shape[2]):
            if d[i,j,k] == d_min:
                f[i,j,k] = 0
            elif d[i,j,k] < d_mean:
                f[i,j,k] = 25
            elif d[i,j,k] == d_mean:
                f[i,j,k] = 50
            elif d[i,j,k] < d_max:
                f[i,j,k] = 75
            else:
                f[i,j,k] = 100

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
  [1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981]],
 
 [[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042],
  [1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381]],
 
 [[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
  [1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
  [ 75.,  75.,  25.,  25.,  25.]],
 
 [[ 75.,  25.,  75.,  75.,  75.],
  [ 25.,  25.,  25.,  25., 100.]],

 [[ 75.,  75.,  75.,  75.,  75.],
  [ 25.,  75.,   0.,  75.,  75.]]]
```

In [40]:
d

array([[[1.80864613, 1.44303133, 1.69531251, 1.02700497, 1.26057807],
        [1.44043333, 1.94712763, 1.11073652, 1.97661998, 1.51642278]],

       [[1.59920346, 1.22946277, 1.13029203, 1.37864898, 1.99722405],
        [1.09140786, 1.63251218, 1.71202207, 1.9711537 , 1.6987354 ]],

       [[1.08037436, 1.44737846, 1.91617008, 1.92119659, 1.8487824 ],
        [1.70050795, 1.18709685, 1.37741689, 1.85502233, 1.62763509]]])

In [41]:
f

array([[[ 75.,  25.,  75.,   0.,  25.],
        [ 25.,  75.,  25.,  75.,  25.]],

       [[ 75.,  25.,  25.,  25., 100.],
        [ 25.,  75.,  75.,  75.,  75.]],

       [[ 25.,  25.,  75.,  75.,  75.],
        [ 75.,  25.,  25.,  75.,  75.]]])

In [42]:
d_min

1.027004969466251

In [43]:
d_mean

1.5542718914751303

In [44]:
d_max

1.997224045201989

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
  [ 'D',  'D',  'B',  'B',  'B']],
 
 [[ 'D',  'B',  'D',  'D',  'D'],
  [ 'B',  'B',  'B',  'B',  'E']],

 [[ 'D',  'D',  'D',  'D',  'D'],
  [ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [46]:
f = np.empty(d.shape, dtype="str")

for i in range(d.shape[0]):
    for j in range(d.shape[1]):
        for k in range(d.shape[2]):
            if d[i,j,k] == d_min:
                f[i,j,k] = "A"
            elif d[i,j,k] < d_mean:
                f[i,j,k] = "B"
            elif d[i,j,k] == d_mean:
                f[i,j,k] = "C"
            elif d[i,j,k] < d_max:
                f[i,j,k] = "D"
            else:
                f[i,j,k] = "E"

f

array([[['D', 'B', 'D', 'A', 'B'],
        ['B', 'D', 'B', 'D', 'B']],

       [['D', 'B', 'B', 'B', 'E'],
        ['B', 'D', 'D', 'D', 'D']],

       [['B', 'B', 'D', 'D', 'D'],
        ['D', 'B', 'B', 'D', 'D']]], dtype='<U1')