<h1>Lambda Functions</h1>

<p>Broadly speaking, lambda functions are nameless functions that we intend to use only one time.

In [1]:
#Defining a Function
def squared(x):
    return x ** 2

In [2]:
#Creating a list of the integers between 1 and 100
lst = [i+1 for i in range(100)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
#Creating an empty list
squared_list = []

#Iterating through the lst object
for num in lst:
    #Applying the squared function to each object and appending them to the empty list
    squared_list.append(squared(num))
    
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [4]:
#Creating the same output with a lambda function
squared_list2 = []

for num in lst:
    squared_list2.append((lambda x: x**2)(num))

print(squared_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

Why do we have to use the following structure?

**(lambda x: x ** 2)(num)**

In [5]:
#Creating the same output with a lambda function
squared_list2 = []

for num in lst:
    squared_list2.append(lambda x: x**2)

print(squared_list2)

[<function <lambda> at 0x10fc23290>, <function <lambda> at 0x10fc23200>, <function <lambda> at 0x10fc234d0>, <function <lambda> at 0x10fc23560>, <function <lambda> at 0x10fc235f0>, <function <lambda> at 0x10fc23680>, <function <lambda> at 0x10fc23710>, <function <lambda> at 0x10fc237a0>, <function <lambda> at 0x10fc23830>, <function <lambda> at 0x10fc238c0>, <function <lambda> at 0x10fc23950>, <function <lambda> at 0x10fc239e0>, <function <lambda> at 0x10fc23a70>, <function <lambda> at 0x10fc23b00>, <function <lambda> at 0x10fc23b90>, <function <lambda> at 0x10fc23c20>, <function <lambda> at 0x10fc23cb0>, <function <lambda> at 0x10fc23d40>, <function <lambda> at 0x10fc23dd0>, <function <lambda> at 0x10fc23e60>, <function <lambda> at 0x10fc23ef0>, <function <lambda> at 0x10fc23f80>, <function <lambda> at 0x10fc2b050>, <function <lambda> at 0x10fc2b0e0>, <function <lambda> at 0x10fc2b170>, <function <lambda> at 0x10fc2b200>, <function <lambda> at 0x10fc2b290>, <function <lambda> at 0x10fc2b320>, <function <lambda> at 0x10fc2b3b0>, <function <lambda> at 0x10fc2b440>, <function <lambda> at 0x10fc2b4d0>, <function <lambda> at 0x10fc2b560>, <function <lambda> at 0x10fc2b5f0>, <function <lambda> at 0x10fc2b680>, <function <lambda> at 0x10fc2b710>, <function <lambda> at 0x10fc2b7a0>, <function <lambda> at 0x10fc2b830>, <function <lambda> at 0x10fc2b8c0>, <function <lambda> at 0x10fc2b950>, <function <lambda> at 0x10fc2b9e0>, <function <lambda> at 0x10fc2ba70>, <function <lambda> at 0x10fc2bb00>, <function <lambda> at 0x10fc2bb90>, <function <lambda> at 0x10fc2bc20>, <function <lambda> at 0x10fc2bcb0>, <function <lambda> at 0x10fc2bd40>, <function <lambda> at 0x10fc2bdd0>, <function <lambda> at 0x10fc2be60>, <function <lambda> at 0x10fc2bef0>, <function <lambda> at 0x10fc2bf80>, <function <lambda> at 0x10fc2e050>, <function <lambda> at 0x10fc2e0e0>, <function <lambda> at 0x10fc2e170>, <function <lambda> at 0x10fc2e200>, <function <lambda> at 0x10fc2e290>, <function <lambda> at 0x10fc2e320>, <function <lambda> at 0x10fc2e3b0>, <function <lambda> at 0x10fc2e440>, <function <lambda> at 0x10fc2e4d0>, <function <lambda> at 0x10fc2e560>, <function <lambda> at 0x10fc2e5f0>, <function <lambda> at 0x10fc2e680>, <function <lambda> at 0x10fc2e710>, <function <lambda> at 0x10fc2e7a0>, <function <lambda> at 0x10fc2e830>, <function <lambda> at 0x10fc2e8c0>, <function <lambda> at 0x10fc2e950>, <function <lambda> at 0x10fc2e9e0>, <function <lambda> at 0x10fc2ea70>, <function <lambda> at 0x10fc2eb00>, <function <lambda> at 0x10fc2eb90>, <function <lambda> at 0x10fc2ec20>, <function <lambda> at 0x10fc2ecb0>, <function <lambda> at 0x10fc2ed40>, <function <lambda> at 0x10fc2edd0>, <function <lambda> at 0x10fc2ee60>, <function <lambda> at 0x10fc2eef0>, <function <lambda> at 0x10fc2ef80>, <function <lambda> at 0x10fc2f050>, <function <lambda> at 0x10fc2f0e0>, <function <lambda> at 0x10fc2f170>, <function <lambda> at 0x10fc2f200>, <function <lambda> at 0x10fc2f290>, <function <lambda> at 0x10fc2f320>, <function <lambda> at 0x10fc2f3b0>, <function <lambda> at 0x10fc2f440>, <function <lambda> at 0x10fc2f4d0>, <function <lambda> at 0x10fc2f560>, <function <lambda> at 0x10fc2f5f0>, <function <lambda> at 0x10fc2f680>, <function <lambda> at 0x10fc2f710>, <function <lambda> at 0x10fc2f7a0>, <function <lambda> at 0x10fc2f830>, <function <lambda> at 0x10fc2f8c0>, <function <lambda> at 0x10fc2f950>, <function <lambda> at 0x10fc2f9e0>, <function <lambda> at 0x10fc2fa70>, <function <lambda> at 0x10fc2fb00>, <function <lambda> at 0x10fc2fb90>, <function <lambda> at 0x10fc2fc20>]

In [6]:
squared_list2[0]

In [7]:
squared_list2[0](2)

4

We can assign lambda functions to variables

In [8]:
a = lambda x: x** 2

In [9]:
print(a)

<function <lambda> at 0x10fc2fcb0>

In [10]:
type(a)

function

In [11]:
a(2)

4

<h2>General Examples</h2>

In [12]:
#We have a list with the names of some of the students of the DA Bootcamp
#I want to return their names in lower case

student_list = ['Evelyn', 'Lucas', 'Carol', 'Emerson', 'Ian Hansen', 'Ian Espinoso']

std_list_lower = [(lambda x: x.lower())(name) for name in student_list]

std_list_lower

['evelyn', 'lucas', 'carol', 'emerson', 'ian hansen', 'ian espinoso']

In [13]:
#Now, I want to sort their names
student_list.sort()
print(student_list)

['Carol', 'Emerson', 'Evelyn', 'Ian Espinoso', 'Ian Hansen', 'Lucas']

In [14]:
#What if I want to sort their names based on the third letter of their name
sorted(student_list, key=lambda x:x[2])

['Lucas', 'Emerson', 'Evelyn', 'Ian Espinoso', 'Ian Hansen', 'Carol']

In [15]:
#We can do the same thing if we want to sort based on the last char of their name
sorted(student_list, key=lambda x:x[-1])

['Carol', 'Emerson', 'Evelyn', 'Ian Hansen', 'Ian Espinoso', 'Lucas']

In [16]:
#Using if statements to return 1 if the name of the student starts with a vowel and 0 if its starts with a consonant

std_list_vowel = [(lambda x: 1 if x[0].lower() in 'aeiou' else 0)(name) for name in student_list]

print(std_list_vowel)

[0, 1, 1, 1, 1, 0]

<h2>Data Analysis Examples</h2>

In [17]:
import pandas as pd

columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
iris._get_numeric_data().head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [19]:
iris['sepal_length'].median()

5.8

In [20]:
iris['sepal_length'].apply(lambda x: "Greater than the median"
                           if x > iris['sepal_length'].median() else "Less than the median")

0         Less than the median
1         Less than the median
2         Less than the median
3         Less than the median
4         Less than the median
                ...
145    Greater than the median
146    Greater than the median
147    Greater than the median
148    Greater than the median
149    Greater than the median
Name: sepal_length, Length: 150, dtype: object

In [21]:
iris[['sepal_length','petal_width']].head()

   sepal_length  petal_width
0           5.1          0.2
1           4.9          0.2
2           4.7          0.2
3           4.6          0.2
4           5.0          0.2

In [22]:
iris[['sepal_length','petal_width']].apply(lambda x: x + 2).head()

   sepal_length  petal_width
0           7.1          2.2
1           6.9          2.2
2           6.7          2.2
3           6.6          2.2
4           7.0          2.2

***

# DataFrame Aggregations and Summarization

In [1]:
iris.sum(),iris.mean()

NameError: name 'iris' is not defined

In [30]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [31]:
iris.min()

sepal_length            4.3
sepal_width               2
petal_length              1
petal_width             0.1
iris_type       Iris-setosa
dtype: object

In [32]:
iris.max()

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
iris_type       Iris-virginica
dtype: object

In [27]:
iris.groupby("iris_type")

In [33]:
iris.groupby("iris_type").sum()

                 sepal_length  sepal_width  petal_length  petal_width
iris_type
Iris-setosa             250.3        170.9          73.2         12.2
Iris-versicolor         296.8        138.5         213.0         66.3
Iris-virginica          329.4        148.7         277.6        101.3

In [36]:
iris.groupby("iris_type").mean()

                 sepal_length  sepal_width  petal_length  petal_width
iris_type
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [37]:
iris.groupby("iris_type").max()

                 sepal_length  sepal_width  petal_length  petal_width
iris_type
Iris-setosa               5.8          4.4           1.9          0.6
Iris-versicolor           7.0          3.4           5.1          1.8
Iris-virginica            7.9          3.8           6.9          2.5

In [38]:
iris.groupby("iris_type").min()

                 sepal_length  sepal_width  petal_length  petal_width
iris_type
Iris-setosa               4.3          2.3           1.0          0.1
Iris-versicolor           4.9          2.0           3.0          1.0
Iris-virginica            4.9          2.2           4.5          1.4

In [39]:
iris[["iris_type","sepal_length"]].groupby("iris_type").mean()

                 sepal_length
iris_type
Iris-setosa             5.006
Iris-versicolor         5.936
Iris-virginica          6.588

In [42]:
iris[["iris_type","sepal_length"]].groupby("iris_type").agg(["mean","median","max","count"])

                sepal_length
                        mean median  max count
iris_type
Iris-setosa            5.006    5.0  5.8    50
Iris-versicolor        5.936    5.9  7.0    50
Iris-virginica         6.588    6.5  7.9    50