Tutorial Evelyn Bezerra de Data Analytics

In [109]:
import numpy as np
import pandas as pd

# Atalhos importantes

## Jupyter

### Modo Edição

Shift + Tab =Faz sugestões de assinatura de um método ou função (modo edição)
Tab = Faz sugestões para completar o código (modo edição)
Shift + Enter = Executa a célula selecionada (modo edição)


'Tab' - 
'Shift + Tab' - 
'?função' - Mostra a documentação de uma dada função (modo edição)

'Ctrl + Z' - Desfaz as últimas edições (modo edição)
'Ctrl + Shift + Z' - Refaz o último comando de desfazer (modo edição)

### Modo Navegação

Esc = Saí do modo edição da célula atual (modo navegação)
'ESC'+ M = Transforma em markdown

'ESC' + B = Adiciona uma nova célula abaixo da célula atual (modo navegação)

'ESC' + A = Adiciona uma nova célula acima da célula atual (modo navegação)

'X' - Recorta a célula selecionada (modo navegação)
'Z' - Desfaz a deleção de uma célula (modo navegação)
'H' - Abre um arquivo de ajuda com todos os atalhos (modo navegação)

Algumas duvidas
- Como fazer quando o nome de um arquivo tem um espaço

# Operadores

# Bibliotecas

## Random

## OS

os.path.join()
os.listdir()

## Statistics

## Scipy.Spatial

## Operator

opperator.itemgetter

## Psycopg2

## Sqlalchemy

## Getpass

## Pandas

In [26]:
# Dataset dentro do pandas
import pandas as pd
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

# Basico de Python

## Listas

### Lista de Números

In [84]:
# lista
lista = [3,8,4,9,2,5]
lista[1]

8

In [49]:
 # Nested list -  Lista de Lista
nested_list = [[1,2],[4,3],[7,9]]
nested_list[1][0]

4

In [50]:
# soma da lista
sum(lista)

31

In [52]:
# pra fazer o mean direto precisa importar a funcao da biblioteca statistics
from statistics import mean
mean(lista)

5.166666666666667

In [54]:
# ou calcula
sum(lista)/len(lista)

5.166666666666667

In [55]:
min(lista), max(lista)

(2, 9)

In [61]:
# ordena a lista e muda ela definitivamente
print(sorted(lista), lista)

[2, 3, 4, 5, 8, 9] [2, 3, 4, 5, 8, 9]

In [73]:
# ordena a lista em ordem invertida
print(sorted(lista, reverse=True), lista)

[9, 8, 5, 4, 3, 2] [2, 3, 4, 5, 8, 9]

In [78]:
#lista.sort(*, key=None, reverse=False
lista.sort(reverse=False)
lista

[2, 3, 4, 5, 8, 9]

In [81]:
# ????
print(lista.reverse())

None

In [85]:
lista.remove(2)
lista

[3, 8, 4, 9, 5]

### Lista de Strings

In [86]:
lista_string=['Evelyn', 'Rodrigues', 'Bezerra']

In [88]:
## ??
lista_string.lower

AttributeError: 'list' object has no attribute 'lower'

In [65]:
# Conta o numero especificado
lista.count(1), lista.count(2)

(0, 1)

## Dicionários

### References

[Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp)

[How to sort a dictionary by values in Python](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)

## Tuplas

### References

[How to check if a tuple contains an element in Python?](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python)

## Sets

### References

[Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp)

## Condicoes logicas

### Loop for

### Range

# Python Advanced

## Funçoes

### Funçao dentro de funcao ( Nested Functions)

In [179]:
def function1(): # outer function
    print ("Hello from outer function")
    def function2(): # inner function
        print ("Hello from inner function")
    function2()

In [183]:
function1()

Hello from outer function
Hello from inner function

In [182]:
function2()

NameError: name 'function2' is not defined

#### Colocando duas variaveis

In [184]:
def num1(x):
   def num2(y):
      return x * y
   return num2
res = num1(10)

print(res(5))

50

#### Step by step

In [185]:
def num3(x):
   def num4(y):
      return x * y
   return num4

In [186]:
numero= num3(10)

In [187]:
numero

In [188]:
numero(5)

50

## List Comprehension

### List Comprehension basica

In [114]:
old_lst = [0,1,2,3,4,5,6,7,8,9]

#Without List Comprehension
lst = []
for number in old_lst:
    lst.append(number ** 2)
    
#With List Comprehension
lst2 = [number**2 for number in old_lst]

lst,lst2

([0, 1, 4, 9, 16, 25, 36, 49, 64, 81], [0, 1, 4, 9, 16, 25, 36, 49, 64, 81])

### List Comprehension dentro de List Comprehension

In [115]:
badlist = np.array([['a','b','c','d'],
                    ['e','f','g','h'],
                    ['i','j','k','l'],
                    ['m','n','o','q'],
                    ['r','s','t','u'],
                    ['v','x','y','z']])
                    
goodlist = [value for minilist in badlist for value in minilist]
print(goodlist)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'z']

### List Comprehension com filtro

In [116]:
#Without List Comprehension
lst3 = []
for number in old_lst:
    if number > 5:
        lst3.append(number**2)

#With List Comprehension
lst4 = [number**2 for number in old_lst if number > 5]

lst3, lst4

([36, 49, 64, 81], [36, 49, 64, 81])

### List Comprehension com filtro de condição

In [117]:
lst5 = [[number**2, number**3, number**3/number**2] for number in old_lst 
        if number%2 != 0]

lst5

[[1, 1, 1.0], [9, 27, 3.0], [25, 125, 5.0], [49, 343, 7.0], [81, 729, 9.0]]

### List Comprehension com condição

In [118]:
#Without List Comprehension
lst6 = []
for number in old_lst:
    if number % 2 != 0:
        lst6.append("odd")
    else:
        lst6.append("even")

#Witht List Comprehension 
lst7 = ["odd" if number % 2 != 0 else "even" for number in old_lst]

lst6, lst7

(['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd'],
 ['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd'])

### List Comprehension para ler arquivos do diretorio

In [122]:
import os
file_list = [f for f in os.listdir('/Users/josuebezerra/Documents/')]
file_list

['.DS_Store',
 '.localized',
 'Meu Reposit��rio do Tableau Prep',
 'Ironhack_works',
 'Docs Aleatorios',
 'Meu Repositório do Tableau',
 'GitHub',
 'Cheats',
 'Meu Repositório do Tableau Prep',
 'Livros',
 'Pasta Sem Título',
 'LightGBM',
 'teste.json',
 'Downloads',
 'Ironhack']

### Extra


## Resources

- [List Comprehensions | Python Documentation](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)
- [Using List Comprehensions With Pandas](https://chrisalbon.com/python/data_wrangling/pandas_list_comprehension/)

## Lambda

In [132]:
# Função
def square_function(x):
    return x * x

# Lambda
square = lambda x: x * x

square_function(5),square(5)

(25, 25)

### (lambda expression)(num)

In [140]:
lst=[1,2,3,4]
squared_list2 = []

for num in lst:
    squared_list2.append((lambda x: x**2)(num))

print(squared_list2)

[1, 4, 9, 16]

### Varias variaveis em lambda

In [133]:
summarize = lambda a, b: a + b
 
summarize(5, 6)

11

### Condiçao em uma funçao lambda

In [134]:
mod = lambda a,b: 1 if a%b ==0 else 0
mod(4,2),mod(5,2)

(1, 0)

### Lambdas no retorno de funcoes ????

In [ ]:
def generate_range(lower):
    return lambda upper: range(lower, upper)
    
custom_range = generate_range(0)
 
custom_range(10)
range(0, 10)
 
[x for x in custom_range(10)]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
 
[x for x in custom_range(5)]
[0, 1, 2, 3, 4]

### Lambda em argumento de funcoes

In [ ]:
last = lambda x: x[-1]
 
sorted(school_space, key=last)
['Computer Science', 'Calclulus', 'Philosophy', 'Art History']

### Lambda em list comprehension

In [136]:
square = lambda x: x * x
squared = [square(x) for x in range(1, 10)]
 
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [138]:
school_dash = ['Calculus', 'Philosophy', 'Art-History', 'Computer-Science']
 
school_space = [(lambda x: x.replace('-', ' '))(x) for x in school_dash]
 
print(school_space)

['Calculus', 'Philosophy', 'Art History', 'Computer Science']

### Lambda and Apply

#### ex1

In [142]:
iris._get_numeric_data().head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [143]:
iris['sepal_length'].median()

5.8

In [146]:
iris['sepal_length'].apply(lambda x: "Greater than the median"
                           if x > iris['sepal_length'].median() 
                           else "Less than the median").head()

0    Less than the median
1    Less than the median
2    Less than the median
3    Less than the median
4    Less than the median
Name: sepal_length, dtype: object

In [ ]:
iris[['sepal_length','petal_width']].head()

#### Ex2

In [147]:
iris[['sepal_length','petal_width']].head()

   sepal_length  petal_width
0           5.1          0.2
1           4.9          0.2
2           4.7          0.2
3           4.6          0.2
4           5.0          0.2

In [148]:
iris[['sepal_length','petal_width']].apply(lambda x: x + 2).head()

   sepal_length  petal_width
0           7.1          2.2
1           6.9          2.2
2           6.7          2.2
3           6.6          2.2
4           7.0          2.2

### Lambda and Map

In [173]:
lst = [1, 2, 3, 4]
list(map(lambda x: x**2, lst))

[1, 4, 9, 16]

### Lambda and Filter

In [174]:
lst = [1, 2, 3, 4]
list(filter(lambda x: x % 2 == 0, lst))

[2, 4]

### Extra

## Resources

[Lambda Expressions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)

[The Python zip function](https://docs.python.org/3.3/library/functions.html#zip)

https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/
https://www.afternerd.com/blog/python-lambdas/
https://stackabuse.com/python-nested-functions/
https://medium.com/better-programming/lambda-map-and-filter-in-python-4935f248593

## Strings Operations and Regex

### Resources

## Numpy

### Extra

In [ ]:
## Resources

Some of the questions in the assignment are not covered in our lesson. You will learn how to efficiently look up the information on your own. Below are some resources you can find the information you need.

[Numpy User Guide](https://docs.scipy.org/doc/numpy/user/index.html)

[Numpy Reference](https://docs.scipy.org/doc/numpy/reference/)

[Google Search](https://www.google.com/search?q=how+to+use+numpy)

## Additional Challenges for the Nerds

If you are way ahead of your classmates and willing to accept some tough challenges about Numpy, take one or several of the following Codewar *katas*. 	You need to already possess a good amount of knowledge in Python and statistics because you will need to write Python functions, do loops, write conditionals, and deal with matrices. Add your responses to the katas to `your-code` and submit to the instructor.

* [Insert dashes](https://www.codewars.com/kata/insert-dashes)
* [Thinkful - Logic Drills: Red and bumpy](https://www.codewars.com/kata/thinkful-logic-drills-red-and-bumpy)

## Pandas

### Selecting Data Frame Columns Based on Conditions

In [129]:
data = pd.read_csv('vehicles.csv')
 
selected_columns = [col for col in data._get_numeric_data() 
                    if data[col].mean() > 15]
print(selected_columns)
 
# ['Year', 'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

FileNotFoundError: [Errno 2] File b'vehicles.csv' does not exist: b'vehicles.csv'

### Juntando os dataset

In [ ]:

data = pd.concat(data_sets, axis=0)

### Extra

In [ ]:
## Resources

- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Intro to Pandas Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Descriptive Statistics for Pandas DataFrame](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)
- [Filtros com Pandas] https://levelup.gitconnected.com/filtering-data-in-pandas-c7b60d1e1301

## Import and Export Data

### Import

#### Como ler os arquivos de uma pasta

In [ ]:
import os
import pandas as pd
 
file_list = [f for f in os.listdir('./data') if f.endswith('.csv')]

#### Transformando os datsasets em um lista de DataFrames

In [ ]:
data_sets = [pd.read_csv(os.path.join('./data', f)) for f in file_list]

# Data Pipeline for Data Cleaning

In [28]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

## Reconhecendos dados

In [29]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [30]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [36]:
iris.isna().head()

   sepal_length  sepal_width  petal_length  petal_width  iris_type
0         False        False         False        False      False
1         False        False         False        False      False
2         False        False         False        False      False
3         False        False         False        False      False
4         False        False         False        False      False

In [37]:
iris.isnull().head()

   sepal_length  sepal_width  petal_length  petal_width  iris_type
0         False        False         False        False      False
1         False        False         False        False      False
2         False        False         False        False      False
3         False        False         False        False      False
4         False        False         False        False      False

In [40]:
iris.drop

AttributeError: 'DataFrame' object has no attribute 'uniques'

In [171]:
iris._get_numeric_data().head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### Iloc, Apply

In [ ]:
iris.iloc[0]
iris.loc[0]

## DAta Cleaning

## Data Calculation

### Calculos

In [150]:
iris.sum()

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
iris_type       Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [151]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [152]:
iris.min()

sepal_length            4.3
sepal_width               2
petal_length              1
petal_width             0.1
iris_type       Iris-setosa
dtype: object

In [153]:
iris.max()

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
iris_type       Iris-virginica
dtype: object

### DataFrame Aggregations and Summarization

#### Groupby

In [154]:
iris.groupby("iris_type")

In [155]:
iris.groupby("iris_type").sum()

                 sepal_length  sepal_width  petal_length  petal_width
iris_type
Iris-setosa             250.3        170.9          73.2         12.2
Iris-versicolor         296.8        138.5         213.0         66.3
Iris-virginica          329.4        148.7         277.6        101.3

In [156]:
iris.groupby("iris_type").mean()

                 sepal_length  sepal_width  petal_length  petal_width
iris_type
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [157]:
iris[["iris_type","sepal_length"]].groupby("iris_type").mean()

                 sepal_length
iris_type
Iris-setosa             5.006
Iris-versicolor         5.936
Iris-virginica          6.588

#### Aggregation

In [168]:
iris[["iris_type","sepal_length"]
    ].groupby("iris_type"
             ).agg(["mean","median","max","count"])

                sepal_length
                        mean median  max count
iris_type
Iris-setosa            5.006    5.0  5.8    50
Iris-versicolor        5.936    5.9  7.0    50
Iris-virginica         6.588    6.5  7.9    50

# Data Visualization

## Matplotlib

## Seaborn

## Extras

In [ ]:
https://towardsdatascience.com/data-visualization-using-matplotlib-16f1aae5ce70

# Data Mining

## Websracp

## Selenium

## API

# Machine learning

## Unsupervised

## Supervised

Iterators


Análise Exploratória de Dados
Técnicas de Projeção
Técnicas de Classificação
Técnicas de Agrupamento
Text Mining
Market Basket
Geolocalização
SNA


Part 5: Advanced Statistical Methods in Python

    Introduction to Regression Analysis
    Advanced Statistical Methods 
        The Linear Regression Model
        Correlation vs Regression
        Multiple Linear Regression
        Adjusted R-Squared
        Simple Linear Regression with sklearn
        Logistic Regression
        
        
Binary Predictors in a Logistic Regression
Calculating the Accuracy of the Model
Underfitting and Overfitting
Testing the Model


Difference between Classification and Clustering

K-Means Clustering
To Standardize or not to Standardize
Types of Clustering
03:39
Dendrogram
05:21
Heatmaps



Deep Learnin
    
    Introduction to Neural Networks
    Training the Model
    
    
    Engenharia de Dados com Hadoop e Spark

# SQL

# Teorias

## Classe

In [175]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [176]:
Alex = Employee('Alex', 20)
Amanda = Employee('Amanda', 30)
David = Employee('David', 15)
L = [Alex, Amanda, David]

In [177]:
L.sort(key=lambda x: x.age)
print([item.name for item in L])

['David', 'Alex', 'Amanda']

## Instancia

## Método

# Desafios

## Hackerank

## Kata

## Codewars

In [ ]:
https://www.codewars.com/dashboard