# Functional Programming

[Wikipedia](https://en.wikipedia.org/w/index.php?title=Special:Search&search=functional+programming) defines functional programming as:

> a programming paradigm, a style of building the structure and elements of computer programs, that treats computation as the evaluation of mathematical functions and avoids changing state and mutable data.

It also comments that:

> In functional code, the output value of a function depends only on its arguments, so calling a function with the same value for an argument always produces the same result.

Functional programming heavily relies on defining what to do rather than executing the action. Therefore, the **function is a blueprint of what the computer must do whenever we call it**.

Functions are objects too! We can assign them to variables or pass them into other functions.

To define a function in Python we must use the `def` keyword. Let's define a function that calculates the volume of any sphere. Below, there's the formula to calculate it.

$$V=\frac{4}{3} \pi r^3$$

In [22]:
def volume_sphere(radius=0):
    
    from math import pi
    
    if radius < 0:
        return None
    else:
        return 4/3 * pi * (radius ** 3)

In [25]:
volume_sphere(3)

113.09733552923254

Since the same functions must return the same values if they receive the same arguments, let's test it out.

In [3]:
volume_sphere(3)

113.09733552923254

Let's pretend for a moment that I don't know the radius of my sphere. I've asked for my coworker to measure it and it has given me the sphere diameter. So, I've created a function that returns the radius of a sphere given its diameter.

In [4]:
def diameter_to_radius(diameter):
    
    return diameter/2

In [5]:
diameter_to_radius(6)

3.0

In [6]:
volume_sphere(diameter_to_radius(6))

113.09733552923254

There are some important thing we need to consider when writing functions:

* The data used must never change inside the function. If we need to modify the element of a list, for example, we need to create a nwe list with updated values rather than manipulating the existing one;

* Functions must be stateless. That means that they should have no memory of how it was used in the past. Therefore, everytime the function is called it should only depend on the values passed to them as arguments and never on outside data.

## Applying Functions to DataFrames

In [30]:
import psycopg2
import pandas as pd

from sqlalchemy import create_engine
from getpass import getpass

In [31]:
password = getpass("Insert your password here: ")

Insert your password here: ········

In [32]:
engine = create_engine(f"postgresql+psycopg2://postgres:{password}@localhost/publications")

sql_query = """
SELECT * FROM authors
LEFT JOIN titleauthor ON authors.au_id = titleauthor.au_id
LEFT JOIN titles ON titleauthor.title_id = titles.title_id
"""

data = pd.read_sql_query(sql_query, con=engine)

data.head()

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract,au_id,...,title_id,title,type,pub_id,price,advance,royalty,ytd_sales,notes,pubdate
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1,172-32-1176,...,PS3333,Prolonged Data Deprivation: Four Case Studies,psychology,736.0,19.9900,2000.0000,10,4072,What happens when the data runs dry? Searchin...,1991-06-12 00:00:00
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,...,BU1032,The Busy Executive's Database Guide,business,1389.0,19.9900,5000.0000,10,4095,An overview of available database systems with...,1991-06-12 00:00:00
2,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,...,BU2075,You Can Combat Computer Stress!,business,736.0,2.9900,10125.0000,24,18722,The latest medical and psychological technique...,1991-06-30 00:00:00
3,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1,238-95-7766,...,PC1035,But Is It User Friendly?,popular_comp,1389.0,22.9500,7000.0000,16,8780,"A survey of software for the naive user, focus...",1991-06-30 00:00:00
4,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,...,BU1111,Cooking with Computers: Surreptitious Balance ...,business,1389.0,11.9500,5000.0000,10,3876,Helpful hints on how to use your electronic re...,1991-06-09 00:00:00

In [20]:
def full_name(dataframe):
    
    return dataframe["au_fname"] + " " + dataframe["au_lname"]

In [34]:
data.iloc[0]

au_id                                               172-32-1176
au_lname                                                  White
au_fname                                                Johnson
phone                                              408 496-7223
address                                         10932 Bigge Rd.
city                                                 Menlo Park
state                                                        CA
zip                                                       94025
contract                                                      1
au_id                                               172-32-1176
title_id                                                 PS3333
au_ord                                                        1
royaltyper                                                  100
title_id                                                 PS3333
title             Prolonged Data Deprivation: Four Case Studies
type                                                 psychology
pub_id                                                      736
price                                                   19.9900
advance                                               2000.0000
royalty                                                      10
ytd_sales                                                  4072
notes         What happens when the data runs dry?  Searchin...
pubdate                                     1991-06-12 00:00:00
Name: 0, dtype: object

In [22]:
data.apply(full_name, axis=1)

0               Johnson White
1              Marjorie Green
2              Marjorie Green
3               Cheryl Carson
4             Michael O'Leary
5             Michael O'Leary
6               Dean Straight
7              Abraham Bennet
8                    Ann Dull
9             Burt Gringlesby
10          Charlene Locksley
11          Charlene Locksley
12    Reginald Blotchet-Halls
13             Akiko Yokomoto
14         Innes del Castillo
15            Michel DeFrance
16         Stearns MacFeather
17         Stearns MacFeather
18               Livia Karsen
19            Sylvia Panteley
20              Sheryl Hunter
21                Anne Ringer
22                Anne Ringer
23              Albert Ringer
24              Albert Ringer
25              Dirk Stringer
26           Heather McBadden
27              Meander Smith
28         Morningstar Greene
dtype: object

In [23]:
data["Full Name"] = data.apply(full_name, axis=1)

data.head()

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract,au_id,...,title,type,pub_id,price,advance,royalty,ytd_sales,notes,pubdate,Full Name
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1,172-32-1176,...,Prolonged Data Deprivation: Four Case Studies,psychology,736.0,19.9900,2000.0000,10,4072,What happens when the data runs dry? Searchin...,1991-06-12 00:00:00,Johnson White
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,...,The Busy Executive's Database Guide,business,1389.0,19.9900,5000.0000,10,4095,An overview of available database systems with...,1991-06-12 00:00:00,Marjorie Green
2,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1,213-46-8915,...,You Can Combat Computer Stress!,business,736.0,2.9900,10125.0000,24,18722,The latest medical and psychological technique...,1991-06-30 00:00:00,Marjorie Green
3,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1,238-95-7766,...,But Is It User Friendly?,popular_comp,1389.0,22.9500,7000.0000,16,8780,"A survey of software for the naive user, focus...",1991-06-30 00:00:00,Cheryl Carson
4,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1,267-41-2394,...,Cooking with Computers: Surreptitious Balance ...,business,1389.0,11.9500,5000.0000,10,3876,Helpful hints on how to use your electronic re...,1991-06-09 00:00:00,Michael O'Leary